Data Handling and Preprocessing using python

In [9]:
import pandas as pd
print('Pandas imported successfully!')

Pandas imported successfully!

In [7]:
data = pd.read_csv('credit_card_fraud_dataset.csv')
df = pd.DataFrame(data)
df.head()

,TransactionID,TransactionDate,Amount,MerchantID,TransactionType,Location,IsFraud
0,1,2024-04-03 14:15:35.462794,4189.27,688,refund,San Antonio,0
1,2,2024-03-19 13:20:35.462824,2659.71,109,refund,Dallas,0
2,3,2024-01-08 10:08:35.462834,784.00,394,purchase,New York,0
3,4,2024-04-13 23:50:35.462850,3514.40,944,purchase,Philadelphia,0
4,5,2024-07-12 18:51:35.462858,369.07,475,purchase,Phoenix,0

In [8]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,99990,99991,99992,99993,99994,99995,99996,99997,99998,99999
TransactionID,1,2,3,4,5,6,7,8,9,10,...,99991,99992,99993,99994,99995,99996,99997,99998,99999,100000
TransactionDate,2024-04-03 14:15:35.462794,2024-03-19 13:20:35.462824,2024-01-08 10:08:35.462834,2024-04-13 23:50:35.462850,2024-07-12 18:51:35.462858,2024-08-30 01:52:35.462867,2024-01-02 11:31:35.462875,2024-05-12 12:25:35.462885,2023-11-16 02:20:35.462894,2023-10-24 06:51:35.462901,...,2024-01-12 17:50:36.027574,2024-05-28 18:52:36.027577,2024-05-25 06:21:36.027581,2024-04-20 15:33:36.027584,2024-02-26 21:22:36.027587,2024-06-07 00:57:36.027591,2023-10-22 23:12:36.027594,2024-05-31 19:27:36.027597,2024-10-18 09:43:36.027601,2024-03-05 19:41:36.027606
Amount,4189.27,2659.71,784.0,3514.4,369.07,3086.22,1466.9,917.21,1625.73,662.07,...,2883.93,2173.73,3743.94,614.02,53.49,1057.29,297.25,3448.56,3750.79,1596.79
MerchantID,688,109,394,944,475,302,902,266,32,193,...,231,93,414,625,2,289,745,690,644,675
TransactionType,refund,refund,purchase,purchase,purchase,purchase,refund,purchase,refund,purchase,...,refund,purchase,purchase,refund,refund,refund,refund,purchase,purchase,refund
Location,San Antonio,Dallas,New York,Philadelphia,Phoenix,New York,Philadelphia,New York,Chicago,Dallas,...,New York,Dallas,Chicago,Phoenix,Philadelphia,San Antonio,San Antonio,San Antonio,Philadelphia,Houston
IsFraud,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0